#!/usr/bin/make -f

# TODO plugins do not handle this well
#LDFLAGS = -Wl,--no-undefined

DEB_CMAKE_EXTRA_FLAGS = \
    -DAFNI_SHOWOFF:STRING="=Debian-$(DEB_BUILD_GNU_TYPE)" \
    -DBUILD_SHARED_LIBS:BOOL=ON \
    -DBUILD_WITH_INSTALL_RPATH:BOOL=ON \
    -DCMAKE_SKIP_RPATH:BOOL=OFF \
    -DCMAKE_INSTALL_RPATH:STRING="/usr/lib/afni/lib" \
    -DCMAKE_EXE_LINKER_FLAGS:STRING="$(LDFLAGS)" \
    -DCMAKE_MODULE_LINKER_FLAGS:STRING="$(LDFLAGS)" \
    -DCMAKE_SHARED_LINKER_FLAGS:STRING="$(LDFLAGS)" \
    -DAFNI_BUILD_LOCAL_NIFTICLIBS:BOOL=OFF \
    -DAFNI_BUILD_LOCAL_GIFTI:BOOL=ON \
    -DAFNI_BUILD_LOCAL_3DEDGE3:BOOL=OFF \
    -DAFNI_BUILD_WITH_LESSTIF2:BOOL=ON \
    -DAFNI_INSTALL_BIN_DIR:STRING=/lib/afni/bin \
    -DAFNI_INSTALL_LIB_DIR:STRING=/lib/afni/lib \
    -DAFNI_INSTALL_INCLUDE_DIR:STRING=/include/afni \
    -DAFNI_INSTALL_PLUGIN_DIR:STRING=/lib/afni/plugins \
    -DAFNI_INSTALL_SCRIPT_DIR:STRING=/share/afni/scripts \
    -DAFNI_INSTALL_PICS_DIR:STRING=/share/afni/pics \
    -DAFNI_INSTALL_POEMS_DIR:STRING=/share/afni/poems


include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/cmake.mk

# need to do it after inclusion of cmake class to get the flag
# appended after -Wall
CFLAGS += -Wno-unused

DEB_SHLIBDEPS_INCLUDE_afni = $(CURDIR)/debian/afni/usr/lib/afni/lib
# the following does not have the desired effect to get rid of the countless
# warnings that the private shared libs in the afni package don't have version
# info -- determine why..
DEB_DH_SHLIBDEPS_ARGS_afni = -u-xafni

# where to build the static corelibs
DEB_BUILDDIR_STATIC = $(DEB_BUILDDIR)-static

# need -stamp target here, since cmake is ran over an over again for some reason
# and claims that some variables have changed, which in turn causes the static
# libs to be built multiple times
configure/afni-dev:: configure-afni-dev-stamp
configure-afni-dev-stamp:
	-[ ! -d $(DEB_BUILDDIR_STATIC) ] && mkdir -p $(DEB_BUILDDIR_STATIC)
	cd $(DEB_BUILDDIR_STATIC) && \
		$(CMAKE) $(CURDIR)/$(DEB_SRCDIR) \
			$(DEB_CMAKE_NORMAL_ARGS) $(DEB_CMAKE_EXTRA_FLAGS) \
			-DBUILD_SHARED_LIBS:BOOL=OFF \
			-DAFNI_BUILD_CORELIBS_ONLY:BOOL=ON
	touch $@

build/afni-dev::
	cd $(DEB_BUILDDIR_STATIC) && $(MAKE) VERBOSE=1

install/afni-dev::
	cd $(DEB_BUILDDIR_STATIC) && \
		$(MAKE) install DESTDIR=$(CURDIR)/debian/tmp/static VERBOSE=1

clean::
	-[ -d $(DEB_BUILDDIR_STATIC) ] && rm -rf $(DEB_BUILDDIR_STATIC)
	-rm configure-afni-dev-stamp
	# ensure proper permissions for the wrapper
	chmod +x debian/afni_wrapper

install/afni-common::
	# fix tcsh interpreter location
	for f in $$(egrep -lR '^#![ ]*/bin/tcsh' debian/tmp); do \
		echo "Fixing tcsh interpreter location in '$$f'" ; \
		sed -i -e 's|^#![ ]*/bin/tcsh|#!/usr/bin/tcsh|' $$f ; \
	done
